<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="index.php?m=admin&f=category&a=editCategoryInfo" method="post">
    上级分类：<select name="category">
    {$categorys}
</select>
    <br/>
    分类名称：<input type="text" value="{$nowcat['cname']}" name="cname"  />
    <input type="hidden" name="cid" value="{$nowcat['cid']}">
    <br/>
    <input type="submit" value="修改">
</form>
</body>
</html>