<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}/admin/showCategory.css">
    <link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
</head>
<body>
<table class="table  table-bordered">
    <tr>
        <th>id</th>
        <th>分类名称</th>
        <th>pid</th>
        <th>操作</th>
    </tr>
    {$result}

</table>
</body>
</html>