.box{
    padding:20px;
    width:400px;
    margin:50px auto;
    box-shadow: 0 2px 10px #ccc;
}
img.code{
    height:30px;
    width:100px;
    cursor:pointer;
    margin-top: 20px;
}
.box h1{
	display: block;
	text-align: center;
}

span.codes{
    display:inline-block;
    height:10px;
    width:10px;
    border-radius: 50%;
    background:orange;
}
.unlogin{
    text-align: center;
}
#dlbtn{
	margin-left: 150px;
	margin-bottom: 10px;
}
.box p{
	text-align: center;
}
