{include file="index/header.html"}
<link rel="stylesheet" href="{CSS_PATH}/bootstrap.css">
<link rel="stylesheet" href="{CSS_PATH}/mui.min.css">
<link rel="stylesheet" href="{CSS_PATH}/self.css">
<script src="{JS_PATH}/jquery.min.js"></script>
<script src="{JS_PATH}/self.js"></script>
<script src="{JS_PATH}/upload.js"></script>
<div class="container main" style="margin-top:100px">
    <div class="row">
        <div class="col-sm-8 main-left">
            <!--头像部分-->
            <div class="container-fluid">
                <div class="row touxiang">
                    <div class="photo">
                        {if $self=="yes"}
                        {if $result3['photo']}
                        <img src="{$result3['photo']}" alt="" /><!--头像-->
                        {else}
                        <img src="{IMG_PATH}/bjt.jpg" alt="" />
                        {/if}
                        {elseif $self=="no"}
                        {if $photo}
                        <img src="{$photo}" alt="" />
                        {else}
                        <img src="{IMG_PATH}/bjt.jpg" alt="" />
                        {/if}
                        {/if}
                    </div>
                    <div class="col-sm-2  username">
                        {if $self=="yes"}
                        {if $result3['bname']}
                        <span>{$result3['bname']} </span>
                        {else}
                        <span>{$uname}</span>
                        {/if}
                        {elseif $self=="no"}
                        <span>{$unames}</span>
                        {/if}
                    </div>
                    <div class="col-sm-2 photoes">
                        {if $self=="yes"}
                        <a href="">关注 ></a><span>1</span>
                        {elseif $self=="no"}
                        <a href="">对方关注 ></a><span>1</span>
                        {/if}
                    </div>
                    <div class="col-sm-2 photoes">
                        {if $self=="yes"}
                        <a href="">粉丝 ></a><span>1</span>
                        {elseif $self=="no"}
                        <a href="">对方粉丝 ></a><span>1</span>
                        {/if}

                    </div>
                    <div class="col-sm-2 photoes">
                        {if $self=="yes"}
                        {$j=0}
                        {foreach $result as $a}
                        {$j=$j+1}
                        {/foreach}
                        <a href="">文章 ></a><span>{$j}</span>
                        {elseif $self=="no"}
                        <a href="">对方文章 ></a><span>1</span>
                        {/if}
                    </div>
                    <div class="col-sm-2 photoes">
                        {if $self=="yes"}
                        <a href="">留言 ></a> <span>1</span>
                        {elseif $self=="no"}

                        {/if}
                    </div>



                </div>
            </div>
            <!--菜单部分-->
            <div class="container-fluid menu">
                <div class="row">
                    <div class="col-sm-4">
                        {if $self=="yes"}
                        <span class="wenzhang" uid="{$uid}">已发表的文章</span>
                        {$i=0}
                        {foreach $result as $v}
                        {$i=$i+1}
                        {/foreach}
                        <span>{$i}</span>
                        {elseif $self=="no"}

                        {/if}
                    </div>
                    <div class="col-sm-4">
                        {if $self=="yes"}
                        <span>我的收藏</span>
                        <span>1</span>
                        {elseif $self=="no"}

                        {/if}

                    </div>
                    <!--<div class="col-sm-4 geren">-->
                        <!--{if $self=="yes"}-->
                        <!--<a href="index.php?m=index&f=user&a=personal&id={$uid}">编辑个人资料</a>-->
                        <!--{elseif $self=="no"}-->

                        <!--{/if}-->
                    <!--</div>-->

                </div>
            </div>



            <div class="line"></div>


            <!--具体的内容-->

            <ul class="mui-table-view NR">
               <!--<li class="mui-table-view-cell mui-media">-->
                    <!--<a href="javascript:;">-->
                        <!--<div class="mui-media-body">-->
                        	<!--<span class="stitle">{$v["stitle"]}</span>-->
                            <!--<p class="mui-ellipsis scon">{$v["scon"]}</p>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>


        </div>
        <div class="col-sm-4 main-right">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    浏览排行榜
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>


            <div class="list-group">
                <a href="#" class="list-group-item active">
                    关注排行榜
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
