.box{
    height:200px;
    width: 300px;
    border:1px solid #ddd;
    margin:auto;
    position:fixed;
    left:0;top:0;
    right:0;bottom:200px;
}
h3{
    line-height:40px;
    height:40px;
    width:100%;
    background:#eee;
    text-align:center;
    font-weight:500;
    margin:0;
}
.con{
    padding-top:10px;
    line-height:40px;
    width:100%;
    text-align:center;
}