*{
    margin:0;
}
.box{
    height:190px;
    width:280px;
    padding-top:10px;
    border:1px solid #000;
    margin:auto;
    position:fixed;
    left:0;top:0;right:0;bottom:100px;
//            line-height:28px;
    text-align:center;
}
h3{
    text-align:center;
    height:40px;
    line-height:30px;
}
.box span{
    line-height:18px;
    font-size:12px;
}
p{
    line-height:28px;
}

img.code{
    height:30px;
    width:100px;
    vertical-align:middle;cursor:pointer;
}

span.codes{
    display:inline-block;
    height:10px;
    width:10px;
    border-radius: 50%;
    background:orange;
}